.form-outline {
    margin: auto;
    width: 65%;
    padding: 10px;
    display: flex;
}

.side {
    display: inline-flex;
}
.card{

    margin: auto;
    width: 65%;
    padding: 10px;
    height: 200px;
    display: none;
} 

#pButton {
    float: left; }
  
  #timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3); }
  
  #pButton {
    margin-top: 12px;
    cursor: pointer; }
  
  #playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer; }
